footer {
    background-color: #a499b3;
    color: white;
    text-align: center;
    .instagram {
        width: 3.125rem;
    }
    
    .facebook {
        width: 3.125rem;
    }
    
    .creador {
        text-align: left;
    }
}

