#main_contacto {
    background-color: #A0BFE0;
    color: black;
    h2 {
        background-color: #2660a4;
        color: black;
    }
    .telefono {
        width: 9.375rem;
        height: 9.375rem;
    }
    .email {
        width: 7.5rem;
        height: 7.5rem;
    }
}