#main_index {
    background-color: #A0BFE0;

    .descripcion_empresa {
        max-width: 800px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
        font-size: 20px;
    }

    .nuestro_enfoque {
        text-align: center;
        font-size: 1.5625rem;
    }

    .valores {
        text-align: center;
        font-size: 1.25rem;
        font-style: italic;
        margin-bottom: 1.25rem;
    }

    .cualidades {
        max-width: 600px;
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        div {
            border-radius: 10px;
            box-shadow: 10px 10px 10px #79b8fc;;
            max-width: 250px;
            margin: 1.25rem;
            &:hover{
                transform: scale(1.1);
            }
            h5 {
                margin: 1rem;
            }
        }
    }

    .quienes_somos {
        display: grid;
        width: 68.75rem;
        height: 42rem;
        grid-template-columns: 25% 75%;
        grid-template-areas:
            "uno dos "
            "uno tres"
            "cuatro cinco"
            "cuatro seis"
            "siete ocho"
            "siete nueve"
        ;
        justify-items: start;
        align-items: center;
        margin: auto; 

        div {
            margin: 2px;
        }

        .uno {
            grid-area: uno;

            .daniela {
                width: 16.25rem;
                height: 12.5rem;
            }
        }

        .dos {
            grid-area: dos;
        }

        .tres {
            width: 650px;
            grid-area: tres;
        }

        .cuatro {
            grid-area: cuatro;

            .juan_carlos {
                width: 16.25rem;
                height: 12.5rem;
            }
        }

        .cinco {
            grid-area: cinco;
        }

        .seis {
            width: 650px;
            grid-area: seis;
        }

        .siete {
            grid-area: siete;

            .jimena {
                width: 16.25rem;
                height: 12.5rem;
            }
        }

        .ocho {
            grid-area: ocho;
        }

        .nueve {
            width: 650px;
            grid-area: nueve;
        }
    }
}


@media (max-width: 768px) {
    #main_index .quienes_somos {
        display: grid;
        width: 33.8125rem;
        height: 44.25rem;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "uno dos"
            "uno tres"
            "cuatro cinco"
            "cuatro seis"
            "siete ocho"
            "siete nueve";

        .uno {
            grid-area: uno;

            .daniela {
                width: 12.9375rem;
            }
        }

        .cuatro {
            grid-area: cuatro;

            .juan_carlos {
                width: 12.9375rem;
                height: 10.9375rem;
            }
        }

        .siete {
            grid-area: siete;

            .jimena {
                width: 12.9375rem;
                height: 11.6875rem;
            }
        }
    }
}

@media (max-width: 576px) {
    #main_index .quienes_somos {
        display: grid;
        width: 33.8125rem;
        height: 44.25rem;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "uno dos"
            "uno tres"
            "cuatro cinco"
            "cuatro seis"
            "siete ocho"
            "siete nueve";

        .uno {
            grid-area: uno;

            .daniela {
                width: 12.9375rem;
            }
        }

        .cuatro {
            grid-area: cuatro;

            .juan_carlos {
                width: 12.9375rem;
                height: 10.9375rem;
            }
        }

        .siete {
            grid-area: siete;

            .jimena {
                width: 12.9375rem;
                height: 11.6875rem;
            }
        }
    }
}
