#main_servicios {
    background-color: #A0BFE0;
    color: black;

    .servicios_corporativos {
        margin-top: 3.125rem;
        text-align: center;
        font-size: 1.25rem;
    }

    .servicios_restaurantes {
        margin-bottom: 3.125rem;
        text-align: center;
        font-size: 1.25rem;
    }

    .servicios_sistemas {
        @extend .servicios;
    }

    .servicios_herramientas {
        @extend .servicios;
    }

    .servicios_documentacion {
        @extend .servicios;
    }
}

@media (max-width: 992px) {
    #main_servicios .servicios {
        border-radius: 10px;
        background: #94ADD7;
        box-shadow: 10px 10px 10px #2660a4;
        padding: 10px;
        width: 70vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno "
            "dos dos"
            "tres tres"
        ;
        justify-items: start;
        align-items: center;
        margin: auto;

        h3 {
            grid-area: uno;
        }

        img {
            grid-area: dos;
            width: 16.25rem;
        }

        .descripcion_servicios {
            grid-area: tres;
        }
    }
}

@media (max-width: 768px) {
    #main_servicios .servicios {
        border-radius: 10px;
        background: #94ADD7;
        box-shadow: 10px 10px 10px #2660a4;
        padding: 10px;
        width: 75vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno "
            "dos dos"
            "tres tres"
        ;
        justify-items: start;
        align-items: center;
        margin: auto;

        h3 {
            grid-area: uno;
        }

        img {
            grid-area: dos;
            width: 16.25rem;
        }

        .descripcion_servicios {
            grid-area: tres;
        }
    }

}

@media (max-width: 576px) {
    #main_servicios .servicios {
        border-radius: 10px;
        background: #94ADD7;
        box-shadow: 10px 10px 10px #2660a4;
        padding: 10px;
        width: 75vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno "
            "dos dos"
            "tres tres"
        ;
        justify-items: start;
        align-items: center;
        margin: auto;

        h3 {
            grid-area: uno;
        }

        img {
            grid-area: dos;
            width: 16.25rem;
        }

        .descripcion_servicios {
            grid-area: tres;
        }
    }
}