#main_capacitaciones {
    background-color: #A0BFE0;
    color: black;
    display: flex;
    flex-direction: column;

    .todo_proceso {
        max-width: 800px;
        margin: auto;
        margin-bottom: 30px;
        text-align: justify;
        font-size: 20px;
    }

    .section_capacitaciones {
        max-width: 35rem;
        margin: auto;
        display: flex;
        flex-direction: column;

        .section_capacitaciones p {
            font-size: 18px;
            text-align: justify;
        }

        .BPM {
            @extend .grid_capacitaciones;
        }

        .HACCP {
            @extend .grid_capacitaciones;
        }

        .Sin_TACC {
            @extend .grid_capacitaciones;
        }

        .PEPS {
            @extend .grid_capacitaciones;
        }

        .POES {
            @extend .grid_capacitaciones;
        }

        .RECALL {
            @extend .grid_capacitaciones;
        }
    }
}

@media (max-width: 992px) {
    #main_capacitaciones .todo_proceso {
        margin: 20px;
    }
    .section_capacitaciones {
        .grid_capacitaciones {
            border-radius: 10px;
            background: #94ADD7;
            padding: 10px;
            display: grid;
            width: 70vw;
            grid-template-columns: 50% 50%;
            grid-template-areas:
                "uno uno"
                "dos tres"
                "cuatro cuatro"
                "cinco seis"
            ;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
            margin-bottom: 20px;
            box-shadow: 10px 10px 10px #a499b3;

            h3 {
                text-align: justify;
                grid-area: uno;
            }

            .parrafo_uno {
                grid-area: dos;
                flex-grow: 1;
                flex-shrink: 1;
            }

            img {
                grid-area: tres;
                width: 80%;
            }

            .parrafo_dos {
                grid-area: cuatro;
            }

            .Ver_mas {
                width: 13rem;
                border-radius: 5px;
                background-color: #2660a4;
                grid-area: seis;
            }
        }
    }
}

@media (max-width: 768px) {
    #main_capacitaciones .todo_proceso {
        margin: 20px;
    }

    .section_capacitaciones {
        .grid_capacitaciones {
            border-radius: 10px;
            background: #94ADD7;
            padding: 10px;
            display: grid;
            width: 78vw;
            grid-template-columns: 50% 50%;
            grid-template-areas:
                "uno uno"
                "dos tres"
                "cuatro cuatro"
                "cinco seis"
            ;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
            margin-bottom: 20px;
            box-shadow: 10px 10px 10px #a499b3;

            h3 {
                text-align: justify;
                grid-area: uno;
            }

            .parrafo_uno {
                grid-area: dos;
                flex-grow: 1;
                flex-shrink: 1;
            }

            img {
                grid-area: tres;
                width: 80%;
            }

            .parrafo_dos {
                grid-area: cuatro;
            }

            .Ver_mas {
                width: 13rem;
                border-radius: 5px;
                background-color: #2660a4;
                grid-area: seis;
            }
        }
    }
}

@media (max-width: 576px) {
    .grid_capacitaciones {
        border-radius: 10px;
        background: #94ADD7;
        padding: 10px;
        display: grid;
        width: 82vw;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno"
            "dos tres"
            "cuatro cuatro"
            "cinco seis"
        ;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px #a499b3;

        h3 {
            text-align: justify;
            grid-area: uno;
        }

        .parrafo_uno {
            grid-area: dos;
            flex-grow: 1;
            flex-shrink: 1;
        }

        img {
            grid-area: tres;
            width: 80%;
            height: 80%;
            margin: 5px;
        }

        .parrafo_dos {
            grid-area: cuatro;
        }

        .Ver_mas {
            width: 13rem;
            border-radius: 5px;
            background-color: #2660a4;
            grid-area: seis;
        }
    }
}