#main_capacitaciones {
    background-color: #A0BFE0;
    color: black;
    display: flex;
    flex-direction: column;

    .todo_proceso {
        max-width: 800px;
        margin: auto;
        margin-bottom: 30px;
        text-align: justify;
        font-size: 20px;
    }

    .section_capacitaciones {
        max-width: 35rem;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .section_capacitaciones p {
        font-size: 18px;
        text-align: justify;
    }

    .BPM {
        @extend .grid_capacitaciones;
    }
}

@media (max-width: 768px) {
    #main_capacitaciones .section_capacitaciones .BPM {
        border-radius: 10px;
        background: #94ADD7;
        padding: 10px;
        display: grid;
        width: 35rem;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno"
            "dos tres"
            "cuatro cuatro"
            "cinco seis"
        ;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        margin-bottom: 20px;
        box-shadow: 10px 10px 10px #a499b3;

        .section__uno {
            text-align: justify;
            grid-area: uno;
        }

        .section__dos {
            grid-area: dos;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .section__tres {
            grid-area: tres;
            width: 80%;
            height: 80%;
            margin: 5px;
        }

        .section__cuatro {
            grid-area: cuatro;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .Ver_mas {
            width: 13rem;
            border-radius: 5px;
            background-color: #2660a4;
            grid-area: seis;
        }
    }

    @media (max-width: 576px) {
        .BPM {
            border-radius: 10px;
            background: #94ADD7;
            padding: 10px;
            display: grid;
            width: 35rem;
            grid-template-columns: 50% 50%;
            grid-template-areas:
                "uno uno"
                "dos tres"
                "cuatro cuatro"
                "cinco seis"
            ;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
            margin-bottom: 20px;
            box-shadow: 10px 10px 10px #a499b3;

            .section__uno {
                text-align: justify;
                grid-area: uno;
            }

            .section__dos {
                grid-area: dos;
                flex-grow: 1;
                flex-shrink: 1;
            }

            .section__tres {
                grid-area: tres;
                width: 80%;
                height: 80%;
                margin: 5px;
            }

            .section__cuatro {
                grid-area: cuatro;
                flex-grow: 1;
                flex-shrink: 1;
            }

            .Ver_mas {
                width: 13rem;
                border-radius: 5px;
                background-color: #2660a4;
                grid-area: seis;
            }
        }
    }
}