#main_index {
    background-color: #A0BFE0;

    .descripcion_empresa {
        max-width: 800px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
        font-size: 20px;
    }

    .nuestro_enfoque {
        text-align: center;
        font-size: 1.5625rem;
    }

    .valores {
        text-align: center;
        font-size: 1.25rem;
        font-style: italic;
        margin-bottom: 1.25rem;
    }

    .cualidades {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        div {
            border-radius: 10px;
            box-shadow: 10px 10px 10px #79b8fc;
            ;
            max-width: 250px;
            margin: 1.25rem;

            &:hover {
                transform: scale(1.1);
            }

            h5 {
                margin: 1rem;
            }
        }
    }

    .daniela {
        @extend .quienes_somos;
    }

    .juan_carlos {
        @extend .quienes_somos;
    }

    .jimena {
        @extend .quienes_somos;
    }
}

@media (max-width: 992px) {
    #main_index .descripcion_empresa {
        margin: 20px;
    }
    .quienes_somos {
        border-radius: 10px;
        background: #a499b3;
        box-shadow: 10px 10px 10px #2660a4;
        padding: 10px;
        width: 50vw;
        height: 50vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno "
            "dos dos"
            "tres tres"
        ;
        justify-items: start;
        align-items: center;
        margin: auto;

        h4 {
            grid-area: uno;
        }

        img {
            grid-area: dos;
            width: 30vw;
        }

        p {
            width: 47vw;
            grid-area: tres;
        }

    }
}

@media (max-width: 768px) {
    #main_index .descripcion_empresa {
        margin: 20px;
    }

    .quienes_somos {
        border-radius: 10px;
        background: #a499b3;
        box-shadow: 10px 10px 10px #2660a4;
        padding: 10px;
        width: 70vw;
        height: 56vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno "
            "dos dos"
            "tres tres"
        ;
        justify-items: start;
        align-items: center;
        margin: auto;

        h4 {
            grid-area: uno;
        }

        img {
            grid-area: dos;
            width: 3ovw;
        }

        p {
            width: 65vw;
            grid-area: tres;
        }

    }
}

@media (max-width: 576px) {
    .quienes_somos {
        border-radius: 10px;
        background: #a499b3;
        box-shadow: 10px 10px 10px #2660a4;
        padding: 10px;
        width: 70vw;
        height: 68vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "uno uno "
            "dos dos"
            "tres tres"
        ;
        justify-items: start;
        align-items: center;
        margin: auto;

        h4 {
            grid-area: uno;
        }

        img {
            grid-area: dos;
            width: 35vw;
            align-items: center;
        }

        p {
            width: 65vw;
            grid-area: tres;
        }

    }
}