.quienes_somos {
    border-radius: 10px;
    background-color: #a499b3;
    box-shadow: 10px 10px 10px #94ADD7;
    display: grid;
    width: 60vw;
    height: 20.5vw;
    grid-template-columns: 35% 65%;
    grid-template-areas:
        "uno dos "
        "uno tres"
    ;
    justify-items: start;
    align-items: center;
    margin: auto;

    img {
        grid-area: uno;
        width: 15vw;
    }

    h4 {
        grid-area: dos;
    }

    p {
        width: 39vw;
        grid-area: tres;
    }
}

.servicios {
    border-radius: 10px;
    background: #94ADD7 ;
    box-shadow: 10px 10px 10px #2660a4 ;
    padding: 10px;
    width: 65vw;    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "uno dos "
        "uno tres"
    ;
    justify-items: start;
    align-items: center;
    margin: auto;

    img {
        grid-area: uno;
        width: 16.25rem;
    }

    h3 {
        grid-area: dos;
    }

    .descripcion_servicios {
        grid-area: tres;
    }
}

.grid_capacitaciones {
    border-radius: 10px;
    background: #94ADD7;
    padding: 10px;
    display: grid;
    width: 50vw;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "uno uno"
        "dos tres"
        "cuatro cuatro"
        "cinco seis"
    ;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #a499b3;

    h3 {
        text-align: justify;
        grid-area: uno;
    }

    .parrafo_uno {
        grid-area: dos;
        flex-grow: 1;
        flex-shrink: 1;
    }

    img {
        grid-area: tres;
        width: 22vw;
        margin: 5px;
    }

    .parrafo_dos {
        grid-area: cuatro;
    }

    .Ver_mas {
        width: 13rem;
        border-radius: 5px;
        background-color: #2660a4;
        grid-area: seis;
    }
}
